.config/google-chrome/
.config/scripts
.localrc
.config/clipit/
.config/dconf/
.config/dmenu-recent/
.config/gconf/
.config/pulse/
.config/ranger/bookmarks
.config/ranger/rc.conf
.config/ranger/tagged
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/configstore/
.config/mimeapps.list
.config/wall.png
.config/erl_observer/
.config/libfm/
.config/menus/
.config/morc_menu/
.config/pcmanfm/
.config/xfce4/
.config/gtk-3.0/bookmarks
.config/htop/htoprc
